<h1> Hooray! You've finished the test! </h1>
<p>
  Congratulations! You've finished the test: <b><%= @test.title %></b>
  Don't stop, move forward to the next test - we have plenty.
  <%= link_to 'Need more tests NOW!', tests_url %>
</p>