<tr>
  <td>
    <%= image_tag image_path(badge.route), width: '100px'%>
  </td>
  <td>
    <%= badge.name %>
  </td>
  <td>
    <%= badge.rule.rule_with_params %>
  </td>
  <td>
    <p>create/edit/delete</p>
  </td>
</tr>
