<<<<<<< HEAD
<h2><%= t('.header') %></h2>
=======
>>>>>>> 8171ea8... create badges for admin
<table class="table">
  <tbody>
    <%= render @badge%>
  </tbody>
</table>
<div class="row">
  <%= link_to t('.back'), admin_tests_path, class: "nav-link" %>
</div>