<p><%= current_year %> (c) Daria Shcheglova - проект Test Guru <%= github_url('ellerden', 'test-guru') %>
</p>
<p> Конструктор тестов – учебный проект в онлайн-школе 
  <a target="_blank" href="https://thinknetica.com"> Thinknetica </a>
</p>