<tr>
  <td style="text-align: center">
    <%= answer.correct %>
  </td>
  <td>
    <%= answer.text %>
  </td>
  <td class="text-center"> 
    <%= link_to t('.edit'), edit_admin_answer_path(answer) %> 
  </td>
  <td class="text-center"> 
    <%= link_to t('.delete'), admin_answer_path(answer), method: :delete %> 
  </td>
</tr>
</br>