<li>
  <%= answer.text %>
  <%= link_to 'Показать', admin_answer_path(answer) %>
  <%= link_to 'Редактировать', edit_admin_answer_path(answer) %>
  <%= link_to 'Удалить', admin_answer_path(answer), method: :delete %>
</li>