<%= question.text %>
<div>
  <p>
    <%= link_to t('.show_answers'), admin_question_path(question) %>
    <%= link_to t('.edit'), edit_admin_question_path(question) %>
    <%= link_to t('.delete'), admin_question_path(question), method: :delete %>
  </p>
</div>