// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3.success { 
  color: #36d13e;
}
h3.fail { 
  color: #ff3e33;
}

.status {
  margin-bottom: 5px;
}